name: Samsung WebLite Cloud Builder
on:
  workflow_dispatch:
    inputs:
      dump_url:
        description: 'رابط الـ Dump'
        required: true
        default: 'https://dumps.tadiphone.dev/dumps/samsung/r11s'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full lz4 wget aria2
          mkdir -p tools
          # استخدام رابط مباشر ومستقر لأدوات magiskboot
          aria2c -s 16 -x 16 https://github.com/nabil2000/MagiskBoot-Releases/releases/download/v27.0/magiskboot_x86_64 -o tools/magiskboot
          chmod +x tools/magiskboot

      - name: Fetch and Unpack Kernel
        run: |
          echo "جاري تحميل boot.img..."
          # استخدام aria2 للتحميل السريع والمستقر
          aria2c -s 16 -x 16 "${{ github.event.inputs.dump_url }}/boot.img" -o boot.img
          ./tools/magiskboot unpack boot.img
          echo "✅ تم التفكيك بنجاح!"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Unpacked-Kernel-Files
          path: |
            kernel
            ramdisk.cpio
            dtb
            *.img
