name: Samsung WebLite Cloud Builder
on:
  workflow_dispatch:
    inputs:
      dump_url:
        description: 'رابط الـ Dump'
        required: true
        default: 'https://dumps.tadiphone.dev/dumps/samsung/r11s'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Android Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full lz4 wget python3
          mkdir -p tools
          # جلب أداة magiskboot بنسخة الـ Linux
          wget -q https://github.com/osm0sis/MagiskBoot/releases/download/v27.0/MagiskBoot-v27.0.zip -O tools/magisk.zip
          unzip tools/magisk.zip -d tools/
          chmod +x tools/x86_64/magiskboot

      - name: Fetch and Unpack Kernel
        run: |
          echo "جاري تحميل boot.img من الرابط السحابي..."
          wget -q ${{ github.event.inputs.dump_url }}/boot.img -O boot.img
          ./tools/x86_64/magiskboot unpack boot.img
          echo "✅ تم التفكيك بنجاح واستخراج ملفات الكرنيل."

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Unpacked-Kernel-Files
          path: |
            kernel
            ramdisk.cpio
            dtb
